* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}
.light {
  background-color: var(--light);
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
}
.dark {
  background-color: var(--dark);
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
}
.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--label);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: auto;
  border-radius: 50px;
  padding: 0.4rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.label > #moon {
  height: 3.7rem;
}
.label > #sun {
  height: 3.7rem;
}
.buttonLight {
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 60px;
  left: 0.4rem;
  height: 60px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  outline: none;
}
.buttonNight {
  position: absolute;
  border-radius: 50%;
  border: none;
  left: 63%;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  outline: none;
}
